<lh-landing-layout>
  <lh-topbar menu [menuItems]="menuItems"></lh-topbar>
  <p-panel body header="">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente iure
      nam illum voluptates quae quod, hic aliquid, perferendis tenetur ullam
      porro et deleniti voluptatum. Nulla numquam veniam animi ipsa impedit!
    </p>
    
  </p-panel>
  <p footer>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptatum
    dolores dolorum minus quo atque neque ad aliquam eum iusto officiis, ipsam
    aperiam unde rem non necessitatibus alias expedita commodi.
    lorem
  </p>
</lh-landing-layout>
