<section class="footer primary-gradient d-flex flex-center flex-column">
    <div class="footer-container d-flex flex-wrap flex-center">
        <div class="row d-flex flex-start flex-column ">
            <h4>Product</h4>
            <a href="#">Features</a>
            <a href="#">Integrations</a>
            <a href="#">Pricing</a>
            <a href="#">Enterprise</a>
            <a href="#">Security</a>
            <a href="#">Trust</a>
        </div>
        <div class="row d-flex flex-start flex-column">
            <h4>Company</h4>
            <a href="#">About</a>
            <a href="#">Customers</a>
            <a href="#">Careers</a>
            <a href="#">Partners</a>
            <a href="#">Press</a>
            <a href="#">Contact</a>
        </div>
        <div class="row d-flex flex-start flex-column">
            <h4>Resources</h4>
            <a href="#">Blog</a>
            <a href="#">Webinars</a>
            <a href="#">Developers</a>
            <a href="#">Guides</a>
            <a href="#">Support</a>
            <a href="#">Events</a>
        </div>
        <div class="row d-flex flex-start flex-column">
            <h4>Legal</h4>
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Security</a>
            <a href="#">GDPR</a>
            <a href="#">CCPA</a>
            <a href="#">Compliance</a>
        </div>
        <br>
    </div>
    <hr>
    <div class="d-flex flex-start">
        <p>Made with <i class="pi pi-heart-fill" style="color: red;"></i> by Serban</p>
    </div>
</section>