<div class="tablet-outer d-flex  align-center">
    <div class="tablet-inner d-flex align-center fill-space">
        <div class="content d-flex flex-between align-center fill-space">
            <div class="tablet-icon d-flex flex-center align-center">
                <div class="icon-holder d-flex flex-center align-center mr-1 ml-1">
                    <i [class]="icon" style="font-size: 2.5rem;"></i>
                </div>
            </div>
            <div class="tablet-text fill-space ml-1">
                <span class="text">{{ text }}</span>
            </div>
        </div>
    </div>
</div>
