<div class="container">
  <div class="align-center">
    <div style="text-align: center; padding-top: 218px">
      <h1>Rated 4.95 in over 450 real person reviews</h1>
      <p>
        <span
          >Read why thousands of companies and operators love Learning
          Hub.</span
        >
      </p>
      <p-rating
        [(ngModel)]="rating"
        [cancel]="false"
        [readonly]="true"
      ></p-rating>
    </div>
  </div>
  <div class="col-md-6">
    <lh-user-card class="item"></lh-user-card>
    <lh-user-card class="item"></lh-user-card>
  </div>
  <div class="col-md-6">
    <lh-user-card class="item"></lh-user-card>
    <lh-user-card class="item"></lh-user-card>
  </div>
  <div class="col-md-6">
    <lh-user-card class="item"></lh-user-card>
  </div>
</div>
